.appointmentsContainer {
    padding: 20px;
    max-width: 70%;
    margin: 0 auto;
    color: black;
  }

.appointmentSchedule{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}
.Button {
  background-color: #003f67;
  width: 9vw;
  height: 5vh;
  color: white;
  border: white solid 2px;
  border-radius: 15px;
}


.appointmentsTable {
  width: 100%;
  border-collapse: collapse; 
  font-family: Arial, sans-serif;
}

.appointmentsTable th,
.appointmentsTable td {
  padding: 12px 15px;
  text-align: left;
  border: 1px solid #ddd; 
  font-size: 16px;
  background-color: #497591;
}

.appointmentsTable th {
  background-color: #003f67;
  font-weight: bold;
  color: #ddd;
}


  