.div {
    padding: 20px;
    width: 60vw;
    margin: 0;
    background-color:  #0d0d4b;
    color: #e4e0e0;
    margin: auto;
    margin-top: 1.5em;
    border-radius: 15px;
  }
  
.div h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #f7f7f7;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
  
.table th,
.table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}
  
.table th {
    background-color: #195ca4; 
    color: #ffffff;
}
  
.table tr:hover {
    background-color: #8c6767; 
}
  

.buttonCancel {
    width: 10vw;
    height: 4vh;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttonCancel:hover {
    background-color: #c82333;
  }