.div {
    align-items: center;
    background-color:  #0d0d4b;
    color: #e4e0e0;
    width: 50vw;
    margin: auto;
    margin-top: 1.5em;
    border-radius: 15px;
    padding: 2em;
}

.button {
    width: 10vw;
    height: 4vh;
    align-items: center;
    border-radius: 15px;
}